@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

:root {
    --base-size: 17px;
    --size-100: 0.25rem;
    --size-200: 0.75rem;
    --size-300: 0.9rem;
    --size-400: 1rem;
    --size-500: 1.25rem;
    --size-600: 1.5rem;
    --size-700: 2rem;
    --size-800: 3rem;
    --size-900: 4.25rem;
    --size-1000: 6rem;
    --spacing: 0.5rem;
    --spacing2x: calc(var(--spacing) * 2);
    --spacing2-: calc(var(--spacing) / 2);
    --radius: 1.5rem;
    --green: #19a974;
    --dark-grey: #111111;
    --off-white: #333;
    --light-grey: #ccc;
    --blue: #2750cc;
    --light-blue: #7fc9eb;
    --yellow: #ffcb70;
    --purple: #4158d0;
    --slate-grey: rgba(57, 63, 84, 0.8);
    --purple-gradient: linear-gradient(to right, #30cfd0 0%, #330867 100%);
    --green-gradient: linear-gradient(to right, rgb(0, 220, 130), rgb(54, 228, 218), rgb(22, 167, 158));
    --green-box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px, rgba(54, 228, 218, 0.5) 0px 0px 20px 0px;
    --magenta-box-shadow: rgba(220, 0, 130, 0.5) 0px 0px 10px 0px, rgba(228, 54, 218, 0.5) 0px 0px 20px 0px;
    --red-gradient: linear-gradient(to right, rgba(255, 37, 37), rgb(255, 229, 59));
    --red-box-shadow: rgba(220, 36, 36, 0.8) 0px 0px 10px 0px, rgba(74, 86, 157, 0.8) 0px 0px 20px 0px;
}

@font-face {
    font-family: "Inspiration-Regular";
    src: url("/src/fonts/Inspiration-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("/src/fonts/BebasNeue-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Oxygen", sans-serif;
}

body {
    margin: 0;
    color: var(--light-grey);
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey);
}

.centered {
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    margin: 0.5rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--light-grey);
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    justify-content: end;
    margin: 1rem;
}

.heading {
    font-size: 3rem;
    margin-left: 1rem;
    color: var(--light-grey);
}
