.tableheader {
    background-color: var(--dark-grey);
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.tablerowgrey {
    font-size: 1rem;
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 1rem;
    color: var(--dark-grey);
    background-color: rgba(204, 204, 204, 0.75);
}

.tablerowgrey:hover {
    box-shadow: 0px 0px 15px 2px rgba(204, 204, 204, 0.5);
    font-size: 2rem;
}

.tablerowdarkgrey {
    font-size: 1rem;
    margin: 10px 0;
    padding: 15px 10px;
    border-radius: 1rem;
    background-color: rgba(57, 63, 84, 0.75);
}

.tablerowdarkgrey:hover {
    box-shadow: 0px 0px 15px 2px rgba(204, 204, 204, 0.5);
    font-size: 2rem;
}

.highlighted {
    box-shadow: 0px 0px 9px 0px rgba(255, 255, 0, 0.5);
}

.deletebtn {
    font-size: 1rem;
    margin: 10px 0;
    margin-left: 1rem;
    padding: 15px 10px;
    border-radius: 1rem;
    background-color: rgba(255, 110, 110, 0.75);
}

.deletebtn:hover {
    background-color: rgba(255, 0, 0, 0.75);
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.imgcontainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 50%);
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
}

.imgcontainerchild {
    display: grid;
    gap: 10px;
    grid-template-rows: 90% 10%;
    justify-content: center;
    align-items: center;
}

.imgelement {
    margin: 0;
}

.quotecontainer {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-auto-flow: column;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.highlightselected {
    box-shadow: 0px 0px 30px 2px rgba(255, 241, 115, 0.8);
}

.submitbtn {
    line-height: 1.8rem;
    border-radius: 9.5px;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    position: relative;
    background-color: var(--dark-grey);
    color: var(--light-grey);
    transition: background-color 0.2s ease-in-out;
    margin-left: 10px;
    text-align: center;
    cursor: pointer; /* Not included according to website */
}

.submitbtn:hover {
    background-color: var(--dark-grey);
}

.submitbtn:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgb(0, 220, 130), rgb(54, 228, 218), rgb(22, 167, 158));
    inset: -2px;
    z-index: -1;
    border-radius: 12.5px;
    transition: all 0.2s ease 0s;
}

.submitbtn:hover:before {
    box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px, rgba(54, 228, 218, 0.5) 0px 0px 20px 0px;
}

.submitbtn > span {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
}
