.submitbtn {
    line-height: 1.8rem;
    border-radius: 9.5px;
    display: inline-flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    position: relative;
    background-color: var(--dark-grey);
    color: var(--light-grey);
    transition: background-color 0.2s ease-in-out;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    cursor: pointer; /* Not included according to website */
}

.submitbtn:hover {
    background-color: var(--dark-grey);
}

.submitbtn:before {
    content: "";
    position: absolute;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    inset: -2px;
    z-index: -1;
    border-radius: 12.5px;
    transition: all 0.2s ease 0s;
}

.submitbtn:hover:before {
    box-shadow: rgba(220, 0, 130, 0.5) 0px 0px 10px 0px, rgba(228, 54, 218, 0.5) 0px 0px 20px 0px;
    /* box-shadow: rgba(0, 220, 130, 0.5) 0px 0px 10px 0px, rgba(54, 228, 218, 0.5) 0px 0px 20px 0px; */
}

.submitbtn > span {
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-break: break-all;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.inp {
    margin: 1rem;
    min-width: 50%;
    height: 3rem;
}

.userinput {
    border: 1px solid var(--light-grey);
    background-color: var(--slate-grey);
    border-radius: 10px;
    color: var(--light-grey);
}
