.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.inp {
    margin: 1rem;
    min-width: 50%;
    height: 3rem;
}

.userinput {
    border: 1px solid var(--light-grey);
    background-color: var(--slate-grey);
    border-radius: 10px;
    color: var(--light-grey);
}
